html {
    color: rgb(188,89,82);
    background-color: rgb(246,193,147);
    font-family: Arial, Helvetica, sans-serif;
  }

  #muffinInstructions {
    font-size: x-small;
  }

  #muffinCount {
    font-size: x-large;
    font-weight: 900;
  }
